$primary   : #4FC3F7; // Svijetloplava (glavna boja - voda, nebo)
$secondary : #0288D1; // Tamnija plava (naglasci, header)
$accent    : #81D4FA; // Akcentna plava (gumbi, ikonice)

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #29B6F6; // Info u skladu s temom
$warning   : #FBC02D;
